body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  text-wrap: pretty;
}
div.skills-container {
  display: flex;
justify-content: center;
}
small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
  padding: 0px 0;
  font-weight: 800;
  margin: 0;
  letter-spacing: -1px;
  color: inherit;
  font-size: 40px;
  color:#D79922 !important; 

}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: 300;
  color: inherit;
  padding: 50px;
}

.center {
  text-align: center;
}

section {
  height: 25vh;
}
#root{
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
  box-shadow: 10px 0 15px -5px #C5CBE3, /* Left Shadow */
  -10px 0 15px -5px #C5CBE3; /* Right Shadow */
  background-color: #EFE2BA ;
}

@media  (max-width: 620px) {
  .animated-header{
    margin-top: 80px;

  }
  }
  div .intro-part-one{
    background-color:#D79922 ;
    margin-top: -18px;
    color:#EFE2BA !important ;
    border-radius: 0 0 120px 120px;
    height: 180px;
  }
  div .intro-part-two{
    background-color:#D79922 ;
  }
  #root > div.skills-container > div > p{
    line-height: 80px;
    color: #D79922;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: -0.05em;
    margin-right: 10%;
  }
