div .intro-part-one{
    background-color:#D79922 ;
    margin-top: -18px;
    color:#EFE2BA !important ;
    border-radius: 0 0 -120px -120px;
    display: flex;
    justify-content: center;
    height: 25%;
  }
  div .intro-part-one p{
    width: 350px;
    padding-right: 150px;
    font-size: 1.2rem;
    margin-bottom: 50px;
    margin-left: 45px;
    margin-top: -15px;
  }
  div .intro-part-two{
    height: 500px;
    color:#EFE2BA;
    display:flex;
    justify-content: flex-start;
    border-radius: 0 0 120px 120px;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    
  }
  div .intro-part-two p {
    width: 55%;
    font-size: 1.2rem;
    margin-bottom: 50px;
  }
  div .intro-part-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 55px;
    font-size: 1.2rem;
    color: #D79922;
  }
  div .intro-part-three p{
    width: 61% ;
  }

  #root > div.dark-border{
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: -20px;
    padding: 0;
  }
div .left{
  background-color:#D79922 ;
  height: 150px;
  width: 150px;
  border-radius: 250px 0 0 0;
  
}
div .right{
  background-color: #D79922;
  height: 150px;
  width: 150px;
  border-radius: 0 250px 0 0;
}
div .dark-fill{
    background-color:#D79922 ;
    width: 100%;
    height: 150px;
}


@media  (max-width: 768px){
    div .intro-part-one p{
        padding: 0;
        padding-left: 10px;
    }
    div .intro-part-two{
        height: 750px;
    }
}
@media  (max-width: 968px){
    div .intro-part-two{
        height: 750px;
    }
}
@media  (max-width: 690px){
  div .intro-part-two{
    height: 950px;
}
}
@media  (max-width: 520px){
  div .intro-part-two{
    height: 980px;
  }
}
@media  (max-width: 400px){
  div .intro-part-one p{
    font-size: 1em;
    width: 65%;
  }
  div .intro-part-two{
    height: 1400px;
  }
}