.intro-container{
    height: 40%;
    display:flex;
    background-color: #D79922 ;
    border-radius: 120px 120px 0 0;
    
    

}
.img-portrait{
width: 50%;
display: flex;
justify-content: flex-end;
}
.portrait-image{
background-color: white;
border-radius: 20px;
width: 100%;
max-width: 200px;
height: auto;
margin: 50px;
}
@media  (max-width: 768px) {
.portrait-image{
    max-width:150px
}
.img-portrait{
    width: 60%;
}
.intro-welcome{
    width: 40%;
}
#root > section.intro-container > div.intro-welcome > p{
    font-size: 1em;
}

}
.intro-welcome{
    width: 50%;
    display: flex;
    align-items: center;
    
}
#root > section.intro-container > div.intro-welcome > p{
width: 200px;
color: #EFE2BA;
font-size: 1.5em;
font-weight: 700;
}